.hide-overflow{
  overflow: hidden;
}

.intro {
  padding: 5% 5% 5% 0%;
  font-style: italic;
  font-family: "Rubik Spray Paint";
}

.title {
  font-family: "Rubik";
  color: #cccccc;
}

.icon {
  height: 1.875rem;
}