/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  display: flex;
  height: 100vh;
  max-width: none;
}

.profile {
  flex-basis: 750px;
  width: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  background-color: wheat;
}

.profile-header {
  margin: 4rem auto;
}

.profile-picture {
  height: 300px;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.list-check {
  height: 15px;
  align-self: center;
}

.profile-content {
  padding: 2rem;
}

.intro {
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.greeting {
  font-size: 14px;
  font-weight: 400;
}

.name,
.description {
  font-size: 30px;
  font-weight: 600;
}

.description {
  color: darkgray;
}

.tools {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.5rem;
  gap: 3.5rem;

  line-height: 2;
}

.frameworks-list,
.programming-languages-list {
  /* letter-spacing: 3px; */
}

.router-link-active {
  background-color: brown;
  color: aliceblue;
}

.framework-item {
  display: flex;
  gap: 1px;
}

.framework-name {
  margin-top: 0px;
}

.tools,
.contact-me {
  font-weight: 1rem;
}

.tools-header {
  font-size: 24px;
  font-weight: 500;
}

.icon {
  height: 1.875rem;
}

.experiences,
.portfolio {
  flex-shrink: 1;
  flex-grow: 1;
}

.contact-me {
  display: flex;
  gap: 1rem;
}

.experiences {
  /* background-color: aquamarine; */
}

.portfolio {
  background-color: cadetblue;
}

/*
Experience
*/

.experiences {
  flex-basis: 400px;
}

.experiences-header {
  font-size: 30px;
  font-weight: 500;
  margin: 2rem 0 0 2rem;
}

.experience {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 2rem;
}

.companies {
  display: flex;
  flex-direction: column;
}

.company-name {
  padding: 0.5rem;
  /* border: 1px solid black; */
}

.experience-details {
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.experience-header {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.company {
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: 500;
}
