<div class="container">
  <div class="profile">
    <header class="profile-header">
      <img class="profile-picture" [src]="'assets/imgs/fbn1.png'" alt="" />
    </header>
    <main class="profile-content">
      <section class="intro">
        <p class="greeting">Hi, my name is</p>
        <p class="name">David Edet</p>
        <p class="description">I turn ideas to products</p>
      </section>
      <!-- <section class="tools-social">
        <header class="tools-header">Technologies I use currently:</header>
        <div class="tools">
          <div class="frameworks">
            <ul class="frameworks-list">
              <li class="framework-item">
                <img
                  class="list-check"
                  [src]="'assets/svgs/check_circle.svg'"
                /><span class="framework-name">.NETCore</span>
              </li>
              <li class="framework-item">
                <img
                  class="list-check"
                  [src]="'assets/svgs/check_circle.svg'"
                />Nodejs
              </li>
              <li class="framework-item">
                <img
                  class="list-check"
                  [src]="'assets/svgs/check_circle.svg'"
                />Nestjs
              </li>
              <li class="framework-item">
                <img
                  class="list-check"
                  [src]="'assets/svgs/check_circle.svg'"
                />Angular
              </li>
            </ul>
          </div>
          <div class="programming-languages">
            <ul class="programming-languages-list">
              <li class="framework-item">
                <img
                  class="list-check"
                  [src]="'assets/svgs/check_circle.svg'"
                />CSharp
              </li>
              <li class="framework-item">
                <img
                  class="list-check"
                  [src]="'assets/svgs/check_circle.svg'"
                />JavaScript
              </li>
              <li class="framework-item">
                <img
                  class="list-check"
                  [src]="'assets/svgs/check_circle.svg'"
                />Typescript
              </li>
            </ul>
          </div>
        </div>
      </section> -->
      <footer class="contact-me">
        <a href="https://www.instagram.com/abasiakan.david/">
          <img
            class="icon"
            [src]="'assets/svgs/logo-linkedin.svg'"
            alt="LinkedIn"
          />
        </a>
        <a href="https://www.linkedin.com/in/davidedet" target="_blank">
          <img
            class="icon"
            [src]="'assets/svgs/logo-instagram.svg'"
            alt="Instagram"
          />
        </a>
        <a href="https://github.com/david-ae/" target="_blank"
          ><img class="icon" [src]="'assets/svgs/logo-github.svg'" alt="GitHub"
        /></a>
      </footer>
    </main>
  </div>
  <div class="experiences">
    <header class="experiences-header">Where I've worked</header>
    <main>
      <section class="experience">
        <div class="companies">
          <img
            class="icon"
            [src]="'assets/svgs/LollyIcon.svg'"
            alt="Lolly logo"
          />
        </div>
        <div class="experience-details">
          <div class="job">
            <div class="title">Software Engineer @ Lolly</div>
            <div class="year">May 2019 - 2022</div>
          </div>
          <div class="duties">
            <p class="duties-description"></p>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
