/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  display: flex;
  height: 100vh;
  max-width: none;
}

.profile {
  flex-basis: 400px;
  width: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.profile-header {
  margin: 4rem auto;
}

.profile-picture {
  height: 150px;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.profile-content,
.contact-me {
  padding: 2rem;
}

.intro {
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.greeting {
  font-size: 14px;
  font-weight: 400;
}

.name,
.description {
  font-size: 30px;
  font-weight: 600;
}

.description {
  color: darkgray;
}

.tools {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.5rem;
  gap: 3.5rem;

  line-height: 2;
}

.frameworks-list,
.programming-languages-list {
  list-style-image: url("./../assets/img/check_circle.png");
}

.tools,
.contact-me {
  font-weight: 1rem;
}

.tools-header {
  font-size: 24px;
  font-weight: 500;
}

.icon {
  height: 1.875rem;
}

.experience,
.portfolio {
  flex-shrink: 1;
  flex-grow: 1;
}

.contact-me {
  display: flex;
  gap: 1rem;
}

.experience {
  background-color: aquamarine;
}

.portfolio {
  background-color: cadetblue;
}
