<div id="fullsingle" class="page-template-page-fullsingle-split">
  <div class="fs-split">
    <!-- Image Side -->
    <div class="split-image"></div>

    <!-- Content Side -->
    <div class="split-content">
      <div class="split-content-vertically-center">
        <div class="split-intro">
          <h1><b>David Edet</b></h1>

          <span class="tagline, title">Software Engineer</span>
        </div>

        <div class="split-bio intro">I turn ideas to products.</div>

        <div class="split-lists">
          <div class="split-list">
            <a href="https://github.com/david-ae" target="_blank"
              ><img class="icon" [src]="'assets/svgs/logo-github.svg'"
            /></a>
          </div>

          <div class="split-list">
            <a href="https://www.linkedin.com/in/davidedet" target="_blank"
              ><img class="icon" [src]="'assets/svgs/logo-linkedin.svg'"
            /></a>
          </div>

          <div class="split-list">
            <a href="https://www.instagram.com/abasiakan.david/" target="_blank"
              ><img class="icon" [src]="'assets/svgs/logo-instagram.svg'"
            /></a>
          </div>
        </div>

        <div class="split-credit">
          <p>
            &copy;{{ currentDate }}
            <a href="https://about.me/davidedet">David Edet</a>
            <!-- &nbsp;&nbsp; - &nbsp;&nbsp;<a class="" [routerLink]="['/login']" routerLinkActive="router-link-active" >Home Manager</a> -->

            <!-- 
            To edit this credit you can remove the CC3.0 license for only $5 here: https://onepagelove.com/split 
            this really helps contribute towards us developing more templates and means the world to me!
            Cheers, Rob (@robhope)
            -->
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
