
  <div id="fullsingle" class="page-template-page-fullsingle-split">
    <div class="fs-split">
    
      <!-- Image Side -->
      <div class="split-image">
    
      </div>
    
      <!-- Content Side -->
      <div class="split-content">
    
        <div class="split-content-vertically-center">
         
          <div class="split-intro">
            
            <h1><b>David Edet</b></h1>
    
            <span class="tagline">Software Engineer.</span>
    
          </div>
    
          <div class="split-bio">
            <p>It always seems impossible until it is done. - Nelson Mandela</p>
            <br/>
            <p>
              <b>
                Make your world a better place.
                <!-- &nbsp; <a href="./../../assets/docs/David_E Nigeria-Update-Foreign-26052020.pdf" target="_blank">My Current Resume</a> -->
              </b>
            </p>
          </div>
     
          <div class="split-lists">
  
            <div class="split-list">
  
              <a href="https://github.com/david-ae" target="_blank"><img src="./../assets/img/GitHub-Mark.png"></a>
    
            </div>
    
            <div class="split-list">
    
              <a href="https://www.linkedin.com/in/davidedet" target="_blank"><img src="./../assets/img/linkedin-1small.png"></a>
    
            </div>
    
            <div class="split-list">
    
              <a href="https://twitter.com/DavidEdet_A" target="_blank"><img src="./../assets/img/twitter-adjust.png"></a>
    
            </div>
            
            
          </div>
    
          <div class="split-credit">
    
            <p>&copy;{{currentDate}} <a href="https://about.me/davidedet">David Edet</a>
                <!-- &nbsp;&nbsp; - &nbsp;&nbsp;<a class="" [routerLink]="['/login']" routerLinkActive="router-link-active" >Home Manager</a> -->
    
            <!-- 
            To edit this credit you can remove the CC3.0 license for only $5 here: https://onepagelove.com/split 
            this really helps contribute towards us developing more templates and means the world to me!
            Cheers, Rob (@robhope)
            -->
    
          </div>	
    
        </div>
    
      </div>
    
    </div>
  </div>