* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr auto;
  height: 100vh;
}

.profile,
.experience,
.portfolio {
  border: 1px solid black;
  padding: 10%;
  align-self: stretch;
}
